<div class="landingpage">
  <%= render "sessions/login_form" %><br>

  <div class="section">
  <h1>Never Be Late (Or Early) Again</h1>
  <%= image_tag("iphone.png", :class => "feature-pic") %>
  </div>




</div>