<div class="content">
<div class="landingpage">

  <%= render "sessions/login_form" %><br>


  <div class="section">
  <!--   <%= image_tag("neverbelate.jpg", :class => "feature-pic")%><br><br> -->
  </div>

  <div class="section1">
    <h1>Features</h1>
    <p>  - Find the nearest Bart Station <br><br>
    - Get directions <br><br>
    - Get notified by text when it's time to leave!<br><br></p>
    <%= image_tag("iphone.png", :class => "feature-pic")%><br><br>
  </div>


<div class="section2">
  By Lucas, Michael, Jordan, & Nicholas
</div>



</div>
</div>