
<%= link_to raw("<button>new real trip</button>"), new_barttrip_path %>
<%= link_to raw("<button>new fake trip</button>"), new_fake_trip_path %>
<%= link_to raw("<button>my profile</button>"), '/profile' %>
