<div class="container">
  Time 2 Ghost. Never be late blag blah blah blah.Time 2 Ghost. Never be late blag blah blah blah.Time 2 Ghost. Never be late blag blah blah blah.Time 2 Ghost. Never be late blag blah blah blah.
</div>