<% if user.trips.count > 0 %>
upcoming trips:
<% user.trips.each do |trip| %>
<div class="userinfo"%> to <%= link_to trip_path(trip) do %> <%= display_station_name(trip.destination_station) %> at <%= format_time(trip.train_departing_time) %></div>
<% end %>
<% end %>
<% end %>