<div class="content">

  <div class="notice">
    <% if flash[:error] %>
      <p class="error"><%= flash[:error]  %></p>
    <% end %>
  </div>

    <%= render "users/user_form"%>


</div>


<!-- t.string   "username"
t.string   "password_digest"
t.string   "walk_speed",      :default => "normal"
t.string   "phone_number"
t.string   "email" -->
