html{
  font-family: 'Open Sans', sans-serif;
  background: url("ghostback.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content{
  position: absolute;
  display: inline-block;
  width:50%;
  padding:20px;
  border: 1px dotted black;
  border-radius: 20px;
  background-color:rgba(0,0,0,0.8);
  top: 22%;
/*  right: 15%;
  left: 17%;*/
  margin-left: 10%;
  width: 75%;
  color: white;
  font-size: 1.4em;
  text-align: center;

}


.tripform input {
  padding: 10px;
  font-size: 26px;
  margin: 30px 0px;
  display: inline-block;
}

  .tripform select {
    height: 300px;
    width: 100%; max-height: 50px;
    border: 0px solid pink;
    font-size: 1em;
    margin: 30px 0px;

  }

.tripform submit {
  font-size: 3em;
}


.tripform input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px;
margin: 0px auto;
text-align: center }

  .tripform {
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }