@media (max-width: 2000px) {

  .navbar h1{
    font-size: 39px;
    font-family: 'Buda', cursive;
  }

}


@media (max-width: 950px){

}



@media (max-width: 680px){

  .content{
    width: 300px;
    top: 20%;
    right: ;
    left: 25%;
    margin-left: 0em;

  }
  form { width: 60%;
      margin: 0 auto; }
  form textarea,
  form input { width: 100%; }

  .navbar h1{
    font-size: 2em;
    font-family: 'Buda', cursive;
  }

}

@media (max-width: 580px){
  .content{
    left: 18%;
  }
}

@media (max-width: 580px){
  .content{
    left: 13%;
  }
}

@media (max-width: 450px){
  .content{
    width: 150px;
    top: 20%;
    right: ;
    left: 4em;
    margin-left: 0em;
  }

}


