@media (max-width: 2000px) {

  .navbar h1{
    font-size: 39px;
    font-family: 'Buda', cursive;
  }

}


@media (max-width: 950px){

}



@media (max-width: 680px){

  .content{
    width: 500px;
    top: 20%;
    left: 2%;
    margin-left: 0em;

  }
  form {
      width: 70%;
      margin: 0 auto;
    }
  form textarea,
  form input {
    width: 100%;
  }

  .navbar h1{
    font-size: 2em;
    font-family: 'Buda', cursive;
  }

  form input[type=submit]{
  font-size: 1em;
  width: 200px;
  left: 40px;
  }

  #link{
    font-size: 20px;
    width: 100px;
  }

  #link-homepage{
    font-size: 20px;
    width: 100px;
    margin-left: -35px;
  }
  .section h1{
      font-size: 1em;
    }

}

@media (max-width: 580px){
  .content{
    left: 18%;
  }
}

@media (max-width: 580px){
  .content{
    left: 13%;
  }
}

@media (max-width: 450px){
  .content{
    width: 250px;
    top: 20%;
    left: 16px;
    margin-left: 0em;
  }

  form { width: 100%;
      margin: 0 auto;
      margin-left: -17px; }
  form textarea,
  form input { width: 100%; }
}


